*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    margin: 0px;
    padding: 10px;
    flex-direction: column;
    gap: 10px; 
    flex-wrap: initial;
}
.container{
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
   
    gap:  10px;
}
.cabecalho{
    background-color: rgb(2, 255, 2);
    text-align: center;
    color: whitesmoke;
    padding: 20px;
}
.Menu{
    background-color:rgb(241, 61, 6);
    color: whitesmoke;
    padding: 20px;
    margin: 0;
    flex: auto;
}
.conteudo{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 250px;
    background-color: rgb(2, 80, 80);
    flex: auto;
    color: white;
}
.resumos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.resumo{
    background-color: rgb(255, 0, 221);
    padding: 20px;
    flex: auto;
    margin: 0 10px;
    border: 1px solid rgb(255, 0, 170);
}
.cards{
    display: flex;
    justify-content: space-evenly;

}
.card{
    background-color: purple;
    padding: 20px;
    margin: 0 10px;
    flex: auto;
    border: 1px solid purple;
}
.rodape{
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding:  15px;
    gap: 10px;
}